/* -- css reset -- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    /* background-image: url(https://img.freepik.com/free-vector/abstract-black-texture-background-hexagon_206725-413.jpg?w=1380&t=st=1674413905~exp=1674414505~hmac=7d9914e652f6fa5d77d1d7a311ea56aba8e3a6a2b74ff41730db5a6c2240e4bf);
    background-size: cover; */
}

/* -- end css reset -- */



/* -- default values to css -- */

:root {
    --primary-color:#004aad;
    
}

/* -- end default values to css -- */


/* -- add background img -- */



/* h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
} */

/* width */
::-webkit-scrollbar {
    width: 10px;
    overflow-x: scroll;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(57, 60, 248, 0.482);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }
